##################################################
#                CREATED BY ANSIBLE              #
##################################################

{% if SSL %}
<VirtualHost *:80>
    ServerName http://{{ server_name }}
    Redirect / https://{{ server_name }}
</VirtualHost>
{% endif %}

<VirtualHost *:{{ port }}>

    ServerName {{ server_name }}
    {% if server_alias %}
    ServerAlias {{ server_alias }}
    {% endif %}


    {% if SSL and SELF_SIGNED %}
    # Setting SSL settings
    SSLEngine on
    # TODO: Should look into SSLv3
    SSLProtocol all -SSLv2
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
    # jinja2 templating variables to set names of SSL files
    SSLCertificateFile /etc/ssl/certs/{{ ssl_crt }}
    SSLCertificateKeyFile /etc/ssl/private/{{ ssl_key }}
    {% endif %}

    {% if SSL and not SELF_SIGNED %}
    # Setting SSL settings
    SSLEngine on
    # TODO: Should look into SSLv3
    SSLProtocol all -SSLv2
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
    # jinja2 templating variables to set names of SSL files
    SSLCertificateFile /etc/ssl/certs/{{ ssl_crt }}
    SSLCertificateKeyFile /etc/ssl/private/{{ ssl_key }}
    SSLCertificateChainFile /etc/ssl/certs/{{ ssl_ca_chain }}
    {% endif %}

    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}>
        Require all granted
        {% if SSL %}
        SSLRequireSSL
        SSLOptions +StdEnvVars
        {% endif %}
        # This relaxes Apache security settings.
        AllowOverride all
        # MultiViews must be turned off.
        Options -MultiViews
    </Directory>

    <LocationMatch "^/assets/.*$">
       FileETag None
    </LocationMatch>

    ErrorLog ${APACHE_LOG_DIR}/{{ server_name }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ server_name }}.access.log forwarded

</VirtualHost>

